<a href="https://colab.research.google.com/github/sudosadia/keras-tutorial/blob/master/Keras_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. LOADING DATA**

In [ ]:
# load libraries
from pandas import Series, DataFrame
import pandas as pd
import urllib.request

# read poker training and test data from the url and save the file to current directory
urllib.request.urlretrieve("http://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-training-true.data", "poker_train.csv")
urllib.request.urlretrieve("http://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data", "poker_test.csv")

# read the data in and add column names
poker_train = pd.read_csv("poker_train.csv", header=None, names=['S1', 'C1', 'S2', 'C2', 'S3', 'C3','S4', 'C4', 'S5', 'C5', 'hand'])
poker_test = pd.read_csv("poker_test.csv", header=None, names=['S1', 'C1', 'S2', 'C2', 'S3', 'C3','S4', 'C4', 'S5', 'C5', 'hand'])

#Explore the data
poker_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1  10   1  11   1  13   1  12   1   1     9
1   2  11   2  13   2  10   2  12   2   1     9
2   3  12   3  11   3  13   3  10   3   1     9
3   4  10   4  11   4   1   4  13   4  12     9
4   4   1   4  13   4  12   4  11   4  10     9

In [ ]:
#Separating features and output from train and test data
trainY=poker_train['hand']
testY=poker_test['hand']

#Create one hot vector of poker hands 
trainY=pd.get_dummies(trainY)
testY=pd.get_dummies(testY)
trainX = poker_train.drop(['hand'],axis=1)
testX = poker_test.drop(['hand'],axis=1)

#Show the column and row numbers train and test data
print('Shape of Training Set:',trainX.shape)
print('Shape of Testing Set:',testX.shape)

trainX.head()

Shape of Training Set: (25010, 10)
Shape of Testing Set: (1000000, 10)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1  10   1  11   1  13   1  12   1   1
1   2  11   2  13   2  10   2  12   2   1
2   3  12   3  11   3  13   3  10   3   1
3   4  10   4  11   4   1   4  13   4  12
4   4   1   4  13   4  12   4  11   4  10

In [ ]:
trainY.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  1
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  0  0  0  0  0  1
4  0  0  0  0  0  0  0  0  0  1

**2. CREATING MODEL**

In [ ]:
import keras
from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import Dense

#Model 1 with one hidden layer, 15 neurons in the hidden layer
poker_model1 = Sequential()
poker_model1.add(Dense(15,input_shape=(10,), activation='relu')) #input layer
poker_model1.add(Dense(15, activation='relu')) #hidden layer
poker_model1.add(Dense(10, activation='softmax')) #output layer

**3. COMPILING MODEL**

In [ ]:
#Compile model
poker_model1.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy']) 
#Show model summary 
poker_model1.summary()

Model: "sequential_25"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_83 (Dense)             (None, 15)                165
_________________________________________________________________
dense_84 (Dense)             (None, 15)                240
_________________________________________________________________
dense_85 (Dense)             (None, 10)                160
=================================================================
Total params: 565
Trainable params: 565
Non-trainable params: 0
_________________________________________________________________

**4. FITTING MODEL**

In [ ]:
#Fit model and save hostory in h1
h1=poker_model1.fit(trainX, trainY, epochs = 50, batch_size = 100, verbose=0,shuffle=True)

**5. EVALUATING MODEL**

In [ ]:
#Calculate loss and accuracy of model 1
loss1,accuracy1= poker_model1.evaluate(testX,testY,batch_size=100)
print()
print("Model 1: one hidden layer, adam optimizer, 100 batch size and 50 epochs")
print("Testing loss=%f accuracy=%f with " % (loss1,accuracy1))

10000/10000 [==============================] - 17s 2ms/step - loss: 0.9168 - accuracy: 0.5763

Model 1: one hidden layer, adam optimizer, 100 batch size and 50 epochs
Testing loss=0.916785 accuracy=0.576310 with

**6. TUNING MODEL**

In [ ]:
#Model 2 changing hidden layers
poker_model2 = Sequential()
poker_model2.add(Dense(50,input_shape=(10,), activation='relu')) #input layer
poker_model2.add(Dense(50, activation='relu')) #1st hidden layer
poker_model2.add(Dense(50, activation='relu')) #2nd hidden layer
poker_model2.add(Dense(10, activation='softmax')) #output layer
poker_model2.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy']) 
#Save model history in h2 
h2=poker_model2.fit(trainX, trainY, epochs = 50, batch_size = 100, verbose=0,shuffle=True)
#Evaluate model
loss2,accuracy2 = poker_model2.evaluate(testX,testY,batch_size=100) 
print()
print("Model 2: two hidden layers, adam optimizer, 100 batch size and 50 epochs")
print("Testing loss=%f accuracy=%f with " % (loss2,accuracy2))

10000/10000 [==============================] - 18s 2ms/step - loss: 0.6402 - accuracy: 0.7396

Model 2: two hidden layers, adam optimizer, 100 batch size and 50 epochs
Testing loss=0.640213 accuracy=0.739647 with

In [ ]:
#Model 3 changing batch size
poker_model3 = Sequential()
poker_model3.add(Dense(15,input_shape=(10,), activation='relu')) #input layer
poker_model3.add(Dense(15, activation='relu')) #1st hidden layer
poker_model3.add(Dense(10, activation='softmax')) #output layer
poker_model3.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])  
h3=poker_model3.fit(trainX, trainY, epochs = 50, batch_size = 50, verbose=0,shuffle=True)
loss3,accuracy3 = poker_model3.evaluate(testX,testY,batch_size=50) 

print()
print("Model 3: one hidden layer, adam optimizer, 50 batch size and 50 epochs")
print("Testing loss=%f accuracy=%f with " % (loss3,accuracy3))

20000/20000 [==============================] - 35s 2ms/step - loss: 0.8798 - accuracy: 0.6036

Model 3: one hidden layer, adam optimizer, 50 batch size and 50 epochs
Testing loss=0.879772 accuracy=0.603581 with

In [ ]:
#Model 4 changed no of epochs
poker_model4 = Sequential()
poker_model4.add(Dense(15,input_shape=(10,), activation='relu')) #input layer
poker_model4.add(Dense(15, activation='relu')) #1st hidden layer
poker_model4.add(Dense(10, activation='softmax')) #output layer
poker_model4.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])  
h4=poker_model4.fit(trainX, trainY, epochs = 500, batch_size = 100, verbose=0,shuffle=True)
loss4,accuracy4 = poker_model4.evaluate(testX,testY,batch_size=100) 

print()
print("Model 4: one hidden layer, adam optimizer, 50 batch size and 500 epochs")
print("Testing loss=%f accuracy=%f with " % (loss4,accuracy4))

10000/10000 [==============================] - 18s 2ms/step - loss: 0.7136 - accuracy: 0.7023

Model 4: one hidden layer, adam optimizer, 50 batch size and 500 epochs
Testing loss=0.713568 accuracy=0.702335 with

In [ ]:
from tensorflow.python.keras.optimizers import SGD

#Model 5 changed opttimizer
poker_model5 = Sequential()
poker_model5.add(Dense(15,input_shape=(10,), activation='relu')) #input layer
poker_model5.add(Dense(15, activation='relu')) #1st hidden layer
poker_model5.add(Dense(10, activation='softmax')) #output layer
poker_model5.compile(optimizer = 'SGD', loss = 'categorical_crossentropy', metrics = ['accuracy'])  
h5=poker_model5.fit(trainX, trainY, epochs = 50, batch_size = 100, verbose=0,shuffle=True)
loss5,accuracy5 = poker_model5.evaluate(testX,testY,batch_size=100) 

print()
print("Model 5: one hidden layer, SGD optimizer, 100 batch size and 50 epochs")
print("Testing loss=%f accuracy=%f with " % (loss5,accuracy5))

10000/10000 [==============================] - 19s 2ms/step - loss: 0.9747 - accuracy: 0.5239

Model 5: one hidden layer, SGD optimizer, 100 batch size and 50 epochs
Testing loss=0.974669 accuracy=0.523946 with